@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    box-sizing: border-box;
    font-family: Rancho;
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.contenedor-responsive {
    margin: auto
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to top, rgba(30, 35, 38, 0.575), rgba(30, 35, 38, 0.788)),
        url(img/cocina1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    margin: auto;
    width: 100%;

}


.contenedor-header {
    background: black;
    position:relative;
    width: 100%;
    height: 48%;
    top: 0;
    left: 0;
    z-index: 99;
    margin: auto;
    box-sizing: border-box
}

.contenedor-header header {
    max-width: 110%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: auto;
    box-sizing: border-box
}

.contenedor-header header .logo a {
    font-family: Spirax;
    font-size: 35px;
    color: rgb(148, 125, 125);
    text-decoration: none;
    margin: auto
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
    margin: auto;
    box-sizing: border-box;
    height: auto;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: rgb(241, 241, 241);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    font-size: 25px;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: chocolate
}

.nav-responsive {
    background-color: chartreuse;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    box-sizing: border-box
}

.inicio {
    /*background: linear-gradient(to top, rgba(30, 35, 38, 0.582), rgba(30, 35, 38, 0.63)),
    url(img/cocina1.jpg);
    background-size: cover;
    background-attachment: fixed;*/
    height: 100vh;
    color: rgb(236, 118, 118);
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.inicio .contenido-banner {
    padding: 20px;
    background: linear-gradient(to top, rgba(70, 48, 28, 0.178), rgba(38, 34, 30, 0.61)),
        url(img/cocina2.jpg) no-repeat;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    height: 15%x;
    box-sizing: border-box
}

/*Con el centrado de la imagen tuve bastantes problemas hasta que lo pude solucionar,
el problema estaba en un error de sintaxis en este comando desde html */
.inicio .contenedor-img img {
    margin-top: 40px;
    border: 5px solid rgba(128, 53, 7, 0.452);
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 100%;
    box-sizing: border-box
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.inicio .contenido-banner h2 {
    font-size: 20px;
    font-weight: normal;
    box-sizing: border-box;
}

.inicio .contenido-banner .redes a {
    color: rgba(255, 255, 255, 0.938);
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(208, 255, 0);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
    box-sizing: border-box;
}

.inicio .contenido-banner .redes a :hover {
    background-color: rgb(236, 62, 62);
}

#sobremi {
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
}

#sobreMi {
    font-size: 45px;
    box-sizing: border-box
}

#sobreMip {
    font-size: 25px;
    box-sizing: border-box;
    padding: 3px
}

#Formacion {
    max-width: 900px;
    max-height: 700px;
    background: linear-gradient(to left, rgba(30, 35, 38, 0.185), rgba(30, 35, 38, 0.63)),
        url(img/cocina3.jpg);
    background-position-y: center;
    text-align: center;
    position: center;
    background-attachment: cover, no-repeat;
    position: static;
    padding-top: 4px;
    height: auto;
    margin: auto;
    font-size: 25;

}

#Tituloformacion {
    text-decoration: wavy, line-through;
    background: linear-gradient(to bottom, rgba(11, 12, 12, 0.185), rgba(17, 18, 19, 0.26)),
        rgba(0, 0, 0, 0.493);
    color: rgb(243, 145, 145);
}

#Formacionlista {
    color: rgb(243, 145, 145);
    font-size: 33px;
}


#Atributos ul {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: rgb(245, 245, 245);
    box-sizing: border-box;
    padding: 3px;
    justify-items: auto;
    height: auto;
    margin: auto;
    padding-top: 60px;
}

#habilidades {
    list-style: none;
    padding: 3px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

h2 {
    text-decoration: underline;
    padding: 3px
}

#Experiencia {
    font-size: 25px;
    color: rgb(179, 96, 13);
    list-style: none;
    padding: 3px;
    text-align: center;
    justify-items: auto;
    height: auto;
    margin: auto;
}


.col {
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.footer {
    font-size: 19px;
    color: aliceblue;
    text-align: center;
    justify-content: space-between;
}
#address ul li {
    align-items: center;
    list-style: none;
    font-size: 20;
}

#contactame {
    color: rgb(11, 253, 233);
    font-size: 40px;
    text-align: center;
    text-shadow: black;}

#contacto {
    background: linear-gradient(to left, rgba(30, 35, 38, 0.185), rgba(30, 35, 38, 0.63)),
        url(img/Sartenes1.jpg), cover, no-repeat;
}

@media screen and (max-width: 700px) {
    .contenedor-responsive {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-responsive {
        align-items: center;
        width: 100%;
    }
    
    .logo{
        display: none;
    }
    .contenedor-header header nav ul {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 40%;
        width: 40%;
        /*box-sizing: border-box;
        /*height: auto;*/
    }

   .inicio{
    
    height: 100vh;
    color: rgb(236, 118, 118);
    display: flex;
    align-items: center;
    box-sizing: border-box
  }  
  .form-group{
    margin-left: 50px;
    height: 40%;
    width: 40%;
    text-align: center;
  }

  #enviar{
    margin-top: 40px;
    font-size: 25px;
  }
  #address {
    list-style: none;
    margin-left: -45px;
    text-align: center;

  }

}